---
layout: default
title: Post Archive
---

<ul class="posts" itemscope itemtype="http://schema.org/Blog" style="list-style: none;">
    {% for post in site.posts %}
    {% if post.next %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
    {% endif %}

    {% if forloop.first %}
        <h2 class="title">{{ post.date | date: '%Y' }}:</h2>
    {% else %}
    {% if year != nyear %}
      <h2 class="title">{{ post.date | date: '%Y' }}</h2>
    {% endif %}
    {% endif %}

    <li itemscope itemtype="http://schema.org/BlogPosting"> 
        <time datetime="{{ post.date | date_to_xmlschema }}" class="hide-on-mobile" style="color:#aaa;">
            <meta itemprop="datePublished" content="{{ post.date | date_to_xmlschema }}" />
            {{ post.date | date: '%d %b' }}
        </time>
    <span style="color:#ccc;" class="separator hide-on-mobile"> &raquo; </span><a href="{{ post.url }}">{{ post.title }}</a>
    </li>

    {% if forloop.last %}
        </ul>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<div class="category">
  {% comment %} For categories {% endcomment %}
  {% if site.categories %}
  <h2>OR Read by Categories</h2>
      {% for category in site.categories %}
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <span class="tags">
          <i class="fa fa-tags"></i>
          <a href="{{site.baseurl}}/categories/#{{category_name|slugize}}">{{category_name}}</a>
        </span>
      {% endfor %}

  {% endif %}
</div>
