---
layout: default
title: Oves Notes - Ove Bepari
---

<img src="/post_images/about/itmo.png" alt="Favourite Quote: To leave the world a bit better, whether by a healthy child, a graden pathch, or a redeemed social condition; to know that even one life has breathed easier because you have lived - that is to have succeeded">

<small>This is the tech front, for my literary writings and thoughts, move to <a href="/essays/" style="text-decoration:underline; margin:0px;">Writings</a></small>
<h3>Pick a Category</h3>

{% for category in site.categories %}
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="{{ category_name | slugize }}">
    <h3 class="category-head">{{ category_name }}</h3>
    <ul>
      {% for post in site.categories[category_name] %}
          <li><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></li>
      {% endfor %}
    </div>
    </ul>
{% endfor %}
