---
layout: default
title: DUETCS - DUET Computer Society
---

<h3>Pick a Category</h3>

{% for category in site.categories %}
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="{{ category_name | slugize }}">
    <h3 class="category-head">{{ category_name }}</h3>
    <ul>
      {% for post in site.categories[category_name] %}
          <li> 
            <a href="{{ site.baseurl }}{{ post.url }}">
            {% if post.date != nil %}
              <span style="color: rgb(141, 141, 141)">[{{ post.date | date_to_string }}]</span>
            {% endif %}  
            {{post.title}}</a>
          </li>
      {% endfor %}
    </div>
    </ul>
{% endfor %}
