---
layout: default
title: Oves Notes - Ove Bepari
---

<img src="/post_images/the_stare.jpeg" alt="a security guard and a sitting passer by, both sitting, staring at the camera, gurad in on the phone!">

</br>
<small>This is the tech front, for my literary writings and thoughts, move to <a href="/essays/" style="text-decoration:underline; margin:0px;">Writings</a></small>

<!-- <h3>Pick a Category</h3> -->

{% for category in site.categories %}
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="{{ category_name | slugize }}">
    <h3 class="category-head">{{ category_name }}</h3>
    <ul>
      {% for post in site.categories[category_name] %}
          <li><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></li>
      {% endfor %}
    </div>
    </ul>
{% endfor %}
